<div class="row justify-content-md-center view" id="cont">
    <div class="col-md-auto text-center">
        <img src="/media/becamosLogo.jpg" alt="" class="w100">
        <br><br>
        <h3>Misión </h3>
        <p>
            <b>Becamos Economistas</b> es una organización que nace y administra el Centro de Estudiantes de Economía. Dicha Organización busca recibir, administrar y donar todos los ingresos que perciba el CEDEC, con la finalidad de becar estudiantes de la carrera. 
        </p>
        <p>
            El Centro de Estudiantes de Economía busca mediante la realización de eventos pro-fondos, recaudar dinero para contribuir a dichas becas.
        </p>

        <hr>

        <h3>Visión</h3>
        <p>
           <b>Becamos Economistas</b> nace de la idea entre un grupo de Estudiantes de Economía. Los cuales ante la difícil situación económica del país, buscan a través de un esfuerzo en conjunto, ayudar de manera económica a sus compañeros. 
        </p>
        <p>
           Es un proyecto que busca de manera directa contrarrestar, dentro de sus posibilidades, el contexto de precariedad que actualmente viven los Estudiantes de la Escuela. Mediante un sistema de becas organizado, autosustentable y accesible.
        </p>

    </div>
</div>