<div class="row justify-content-md-center view" id="cont">
    <div class="col-md-auto text-center">
        <img src="/media/PorLaTangente.jpeg" class="w100">

        <h3>¡Bienvenidos a Por La Tangente!</h3>
        <br>
        <p class="text-justify indent">
            El podcast del Centro de Estudiantes de Economía de la Universidad
            Católica Andrés Bello. 
        </p>
        <p class="text-justify indent">
            En cada episodio estaremos hablando con diferentes economistas acerca de finanzas,
            macroeconomía y otros tópicos de actualidad económica.
        </p>
       <br>
    </div>
</div>