<div class="row justify-content-md-center view" id="cont">
    <div class="col-md-auto text-center">
        <img src="/media/PorLaTangente.jpeg" class="w100">

        <h3>¡Bienvenidos a Por La Tangente!</h3>
        <br>
        <p class="text-justify indent">
            El podcast del Centro de Estudiantes de Economía de la Universidad
            Católica Andrés Bello. 
        </p>
        <p class="text-justify indent">
            En cada episodio estaremos hablando con diferentes economistas acerca de finanzas,
            macroeconomía y otros tópicos de actualidad económica.
        </p>
       <br>
       <a class="btn btn-outline-success btn-block btn-lg"" href="https://open.spotify.com/show/03EuTfzxUjH36Fpobx6PnY" role="button">Escuchar en Spotify <i class="fab fa-spotify"></i></a>
       <a class="btn btn-outline-dark btn-block btn-lg"" href="https://open.spotify.com/show/03EuTfzxUjH36Fpobx6PnY" role="button">Escuchar en Apple Podcasts <i class="fas fa-podcast"></i></a>
       <br>
       <iframe sandbox="allow-same-origin allow-scripts allow-top-navigation allow-popups" scrolling=no width="100%" height="185" frameborder="0" src="https://embed.radiopublic.com/e?if=por-la-tangente-6B3yOo&ge=s1!45f8fc57c1785221468725ecb0dac44542466fbc"></iframe>

    </div>
</div>